.App {
  text-align: center;
}
* {
  font-family: Arial; 
  font-weight: bold;
}
input {
  margin: 1em;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.172) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.3s ease ;
}
input:focus {
  border: 2px solid rgb(4, 4, 4);
}

button {
  margin: 0.5em;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}
button:hover {
  transform: translateY(-2px);
}
